head
  title mmmarkdown
  link(rel="stylesheet" href="css/reset.css")
  link(rel="stylesheet" href="css/style.css")
  link(rel="stylesheet" href="font/font-awesome-4.7.0/css/font-awesome.min.css")
  script(type="application/javascript", src="js/lib/marked.js")
