div(class="modal-container hidden") 
  div.modal
    form(name="sign-up-form" action="POST" class="vertical-form")
      input(name="screen-name" placeholder="Username" form="sign-up-form")
      input(name="password" placeholder="Password" form="sign-up-form")
      button(form="sign-up-form") Sign Up
