doctype html
html 
  head
    title mmmarkdown
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="font/font-awesome-4.7.0/css/font-awesome.min.css")
  body
    div.main-container
      div.sidebar
        div.logo
          p mmmmarkdown
          p.light-italic a markdown editor
        div.file-selection-area
          div.file
            p.file-name Blah Blah
            i(class="fa fa-trash-o file-icon" aria-hidden="false")
          div.file
            p.file-name New File
            i(class="fa fa-plus file-icon" aria-hidden="false")
      div.main-work-area
        div.status-bar
          p#current-file-name ExampleFile.md
          div.horizontal-options
            p 999 Words
            a(href="#") Save
        div.work-panel-container
          div.workspace-container
            h2.workspace-header Markdown
            div.workspace
              textarea(class="full-width" id="editor")
          div.workspace-container
            h2.workspace-header Preview
            div.workspace
              p Stuff goes here
